._btn {
    display: inline-block;
    padding: 12px 32px;
    text-decoration: none;
    @include adaptiveFontSize(16, 14);
    cursor: pointer;
    transition: background .3s;

    &--primary {
        color: white;
        background: $primary-color;

        &:hover {
            background: darken($primary-color, 6.25%);
        }
    }
}