{% load static %}
<header class="header wrapper__header" id="header">
    <div class="header-inner header__inner">
        <a href="{% url 'majestic:home' %}" class="header-inner__home">
            <img src="{% static 'logotype.png' %}" alt="" class="header-inner__logo">
        </a>
        <nav class="menu header-inner__menu">
            <a href="" class="menu__link
            {% if request.path == '/about/' %}_active{% endif %}">
                О компании
            </a>
            <a href="" class="menu__link
            {% if request.path == '/services/' %}_active{% endif %}">
                Наши услуги
            </a>
            <a href="{% url 'majestic:price' %}" class="menu__link
            {% if request.path == '/price/' %}_active{% endif %}">
                Стоимость вышивки
            </a>
            <a href="" class="menu__link
            {% if request.path == '/payment-delivery/' %}_active{% endif %}">
                Оплата и доставка
            </a>
            <a href="" class="menu__link
            {% if request.path == '/contacts/' %}_active{% endif %}">
                Контакты
            </a>
        </nav>
        <div class="header-info header-inner__info">
            <div class="header-socials header-info__socials">
                <a href="" class="header-socials__link" title="Viber, Хрустова Юлия">
                    <img src="{% static 'majestic/img/socials/viber.png' %}" alt="" class="header-socials__image">
                </a>
                <a href="" class="header-socials__link" title="WhatsApp, Хрустова Юлия">
                    <img src="{% static 'majestic/img/socials/whatsapp.png' %}" alt="" class="header-socials__image">
                </a>
                <a href="" class="header-socials__link" title="Telegram, Хрустова Юлия">
                    <img src="{% static 'majestic/img/socials/telegram.png' %}" alt="" class="header-socials__image">
                </a>
            </div>
            <p class="header-info__slogan">
                Машинная вышивка любой сложности
            </p>
            <a href="" class="header-info__email">
                info@majestic.ru
            </a>
        </div>
    </div>
</header>