{% extends 'majestic/services/base.html' %}
{% load static %}


{% block title %}
<title>
    Церковная вышивка — «Majestic»
</title>
{% endblock %}


{% block service_title %}
Церковная вышивка
{% endblock %}

{% block service_description %}
На протяжении столетий в&nbsp;богослужениях и&nbsp;обрядах православной церкви используются вышитые изделия. До нас дошли, бережно сохраненные, образцы церковной вышивки прежних лет. И&nbsp;сегодня в&nbsp;убранстве современного храма привычно видеть вышивку и&nbsp;красивое церковное шитье.<br><br>Сейчас технологии машинной вышивки позволяют создавать красивые изделия по&nbsp;старинным образцам. Сохраняя традиционные узоры, вышивка на&nbsp;промышленной машине делает богослужебное шитье недорогим и&nbsp;доступным в&nbsp;каждый православный храм.<br><br>Создание церковной вышивки сложная и&nbsp;ответственная работа. Каждое изделие для храма, создается с&nbsp;особым вниманием. Прежде чем воплотить замысел в&nbsp;изделие, тщательно подбираются цвета ниток, на&nbsp;компьютере пишется программа для вышивальной машины. Но&nbsp;для качественной вышивки, еще нужно знать особенности материала. На&nbsp;бархате и&nbsp;льне одна программа вышьет по-разному.
{% endblock %}


{% block service_images %}
<!-- class for img > .service-examples__image -->
{% endblock %}

{% block service_content %}
<h4 class="service-title content__service-title">
    Варианты изделий для вышивки
</h4>
<section class="service-block content__service-block">
    <ul class="service-list service-block__list">
        <li class="service-list__elem">
            Широко применяется золотое и серебряное шитье. Эта технология используется для изделий церковного обихода, в том числе, для восстановления или «поновления», если использовать терминологию, специальных предметов.
        </li>
        <li class="service-list__elem">
            С помощью вышивки изготавливают рисунки на плащаницах, митрах и оплечьях священников.
        </li>
        <li class="service-list__elem">
            Обязательным является нанесение соответствующих рисунков и надписей на комплекты для проведения литургий – покровцы, воздуха, а также на хоругви.
        </li>
        <li class="service-list__elem">
            Текстиль для обрядов – крещения, венчания, погребения также должен быть украшен определенным образом, для чего используются специальные нити и технология машинного нанесения.
        </li>
    </ul>
    <p class="service-block__text">Вышивка используется даже для икон и иконостасов. Среди особенностей церковной вышивки – применение натуральных материалов, золота, канитель на хлопке, шелке, льне или бархате. Именно технология машинной вышивки позволяет создать шедевры, которые соответствуют всем церковным канонам.</p>
</section>
<!-- / end of advantages of technologies -->
{% endblock %}