{% extends 'majestic/services/base.html' %}
{% load static %}


{% block title %}
<title>
    Вышивка на готовых изделиях — «Majestic»
</title>
{% endblock %}


{% block service_title %}
Вышивка на готовых изделиях
{% endblock %}

{% block service_description %}
Вышивка на&nbsp;готовых изделиях популярна в&nbsp;современном мире, так как может выполняться на&nbsp;большом количестве предметов.
Основное преимущество такой вышивки: вышивка логотипах на&nbsp;одежде, в&nbsp;качестве рекламного инструмента бренда.
{% endblock %}


{% block service_images %}
<img src="{% static 'majestic/img/services/vngotizd/1.png' %}" alt="" class="service-examples__image">
<img src="{% static 'majestic/img/services/vngotizd/2.png' %}" alt="" class="service-examples__image">
<img src="{% static 'majestic/img/services/vngotizd/3.png' %}" alt="" class="service-examples__image">
<img src="{% static 'majestic/img/services/vngotizd/4.png' %}" alt="" class="service-examples__image">
{% endblock %}

{% block service_content %}
<section class="price content__price content__service-price">
    <h4 class="price__title">
        Стоимость вышивки
    </h4>
    <div class="table-wrapper price__twrapper">
        <table class="table price__table">
            <thead class="table-head table__head">
                <tr class="thead-row table-head__row">
                    <th class="thead-row__cell">
                        Тираж
                    </th>
                    <th class="thead-row__cell">
                        Цена, 1000 стежков/₽
                    </th>
                </tr>
            </thead>
            <tbody class="table-body table__body">
                <tr class="tbody-row table-body__row">
                    <td class="tbody-row__cell">
                        50–100
                    </td>
                    <td class="tbody-row__cell">
                        от 25
                    </td>
                </tr>
                <tr class="tbody-row table-body__row">
                    <td class="tbody-row__cell">
                        100–500
                    </td>
                    <td class="tbody-row__cell">
                        от 15
                    </td>
                </tr>
                <tr class="tbody-row table-body__row">
                    <td class="tbody-row__cell">
                        500–1000
                    </td>
                    <td class="tbody-row__cell">
                        от 10
                    </td>
                </tr>
                <tr class="tbody-row table-body__row">
                    <td class="tbody-row__cell">
                        свыше 1000
                    </td>
                    <td class="tbody-row__cell">
                        от 9
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- / end of 1st price list -->

<h4 class="service-title content__service-title">
    Варианты изделий для вышивки
</h4>
<section class="service-block content__service-block">
    <ul class="service-list service-block__list">
        <li class="service-list__elem">
            Футболки, рубашки, поло
        </li>
        <li class="service-list__elem">
            Худи, толстовки, джинсы
        </li>
        <li class="service-list__elem">
            Рабочая одежда, бейсболки
        </li>
        <li class="service-list__elem">
            Постельное белье, пледы и покрывала
        </li>
        <li class="service-list__elem">
            Шторы, коврики
        </li>
        <li class="service-list__elem">
            Скатерть, полотенца, платки и салфетки
        </li>
        <li class="service-list__elem">
            Вальтрапы, рушники, подголовники, попоны
        </li>
    </ul>
</section>
<!-- / end of advantages of technologies -->
{% endblock %}