<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_tags %}{% endblock %}

    {% block title %}
    <title>Вышивальная компания Majestic</title>
    {% endblock %}

    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'majestic/css/style.min.css' %}">

</head>
<body class="body" id="body">

    <div class="burger body__burger" id="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
    </div>
    <!-- / end of burger -->

    <div class="wrapper body__wrapper">
        {% include 'majestic/components/header.html' %}
        <!-- / end of header -->

        <main class="content wrapper__content">

        </main>
    </div>
    <!-- / end of wrapper -->

    {% include 'majestic/components/footer.html' %}
    <!-- / end of footer -->


    {% block page_scripts %}{% endblock %}
    <script src="{% static 'majestic/js/header.js' %}" type="text/javascript"></script>
    <!-- / end of scripts -->

</body>
</html>