{% extends 'majestic/base.html' %}
{% load static %}


{% block meta_tags %}

{% endblock %}

{% block title %}
<title>
    Политика обработки персональных данных
</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'majestic/css/privacy-policy.min.css' %}">
{% endblock %}


{% block content %}
<div class="page-headings content__headings">
    <h1 class="page-title page-headings__title">
        Политика конфиденциальности
    </h1>
</div>
<!-- / end of page headings -->
{% endblock %}