// ==> Colors
$primary-color: #7384D4;
$secondary-color: #B18FD9;

$heading-color: #272D38;
$text-color: #545860;

$border-color: #E6E6EB;
$table-background: #FAFAFC;

$success-color: #4AD994;
$danger-color: #E54444;

// ==> Fonts
$heading-font: 'Nunito', sans-serif;
$standart-font: 'Ubuntu', sans-serif;

// ==> Breakpoints
$bp-xl: 1247.98;
$bp-lg: 991.98;
$bp-md: 767.98;
$bp-sm: 479.98;
