.body {
    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
    }
}

.wrapper {
    min-height: 100vh;

    &__header {
        flex: 0 0 220px;
    }

    &__content {
        flex: 0 0 calc(100% - 220px);
    }
}



// ==> Styles for tablet
@media screen and (max-height: 500px),
screen and (max-width: #{$bp-md + px}) {
    .wrapper {
        &__header {
            flex: 0 0 220px;
        }

        &__content {
            flex: 0 0 100%;
        }
    }
}
